<md-dialog aria-label="Event Information" class="eventinfo">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Chorale Ensemble Choir Rehearsal, Information</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="fa fa-times" aria-hidden="true"></i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="transition-container top"><div class="transition flip main-purple"></div></div>
        <div class="main-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>        
            <div class="row-layout" layout="row" layout-xs="column">
                <div class="map" flex><img src="imgs/clinton/map_img.JPG"></div>
                <div class="event-info" flex>
                    <div class="event-item title"><span>Event</span> Chorale Ensemble Choir Rehearsal</div>
                    <div class="event-item date"><span>Date</span> March 25, 2018</div>
                    <div class="event-item time"><span>Time</span> 9:00pm</div>
                    <div class="event-item location"><span>Where</span> 223 Elizabeth Avenue Rockville, MD 20850</div>
                </div>
            </div>
        </div>
      </div>
    </md-dialog-content>
    
    <md-dialog-actions layout="row">
      <span flex></span>
      <div class="btn-event" ng-click=""><i class="fa fa-plus" aria-hidden="true"></i> <span>Add Event To Calender</span></div>      
    </md-dialog-actions>

  </form>
</md-dialog>
