<div class="header">
  <div class="header-top">
    <div class="header-left" ui-sref="app.clinton2">
      <img src="imgs/clinton/ame_zion_logo.png" />
      <div class="header-text">
        <div class="main-text">Clinton</div>
        <div class="sub-text">A.M.E. Zion Church</div>
      </div>
    </div>

    <div class="header-right">
      <div class="nav-icons give"><i class="material-icons">loyalty</i> <span>Give Online</span></div>
      <div class="nav-icons live"><i class="material-icons">play_circle_outline</i> <span>Watch Live</span></div>
      <div class="social-container">
        <div class="social-media">
          <div class="nav-icons facebook"><i class="fa fa-facebook" aria-hidden="true"></i></div>
          <div class="nav-icons instagram"><i class="fa fa-instagram" aria-hidden="true"></i></div>
          <div class="nav-icons twitter"><i class="fa fa-twitter" aria-hidden="true"></i></div>
        </div>
      </div>
      <div class="nav-icons search"><i class="material-icons">search</i></div>
      <div class="nav-icons menu"><i class="material-icons">menu</i></div>
    </div>
  </div>
  <div class="header-content">
    <div class="backimg">
      <div class="cover"></div>
      <div class="cover-img" back-img={{$ctrl.mainImg}}></div>
    </div>
    <div class="nav-links">
      <div class="nav-button" ng-repeat="nav in $ctrl.navigation" ng-class="{'selected':nav == $ctrl.selectedNav}" ng-click="$ctrl.selectNav(nav)"><div class="button-container">{{nav.title}}</div></div>
    </div>
  </div>
  <div class="header-sub">
    <div class="nav-ctrl nav-left"><i class="material-icons">chevron_left</i></div>
    <div class="nav-cards">
      <a class="nav-card" ng-repeat="card in $ctrl.selectedNav.subSections" href="https://html5up.net/dimension" target="_blank">
        <div class="card-back" back-img={{card.image}}></div>
        <div class="card-title">{{card.title}}</div>
      </a>
    </div>
    <div class="nav-ctrl nav-right"><i class="material-icons">chevron_right</i></div>
  </div>
</div>
