<div class="header">
  <div class="header-container">
    <div class="header-section header-left">
      <div class="header-icon" ui-sref="app.clinton1"><img ng-src="{{$ctrl.headerLogo}}"></div>
    </div>
    <div class="header-section header-right">
      <div class="header-split split-top">
        <div class="header-nav give-btn"><span>Give Online</span></div>
        <div class="header-nav watch-btn"><div class="btn-container"><i class="material-icons">play_circle_outline</i> <span>Watch Live</span></div></div>
        <div class="header-nav"> <div class="social-btn instagram-btn"><i class="fa fa-instagram" aria-hidden="true"></i></div></div>
        <div class="header-nav"><div class="social-btn facebook-btn"><i class="fa fa-facebook" aria-hidden="true"></i></div></div>
        <div class="header-nav"><div class="social-btn twitter-btn"><i class="fa fa-twitter" aria-hidden="true"></i></div></div>
      </div>
      <div class="header-split split-bottom">
        <div class="nav-item" ng-repeat="nav in $ctrl.navigation">{{nav.title}}</div>
        <div class="nav-item"><i class="material-icons">search</i></div>
      </div>
    </div>
  </div>
</div>
