<div class="header">
  <div class="header-container main-header">
    <div class="header-left" ui-sref="app.clinton3">
      <img src="imgs/clinton/ame_zion_logo.png" />
      <div class="header-text">
        <div class="main-text">Clinton</div>
        <div class="sub-text">A.M.E. Zion Church</div>
      </div>
    </div>
    <div class="header-right">
      <div class="nav-icons live"><i class="material-icons">play_circle_outline</i> <span>Watch Live</span></div>
      <div class="nav-icons live"><i class="material-icons">loyalty</i> <span>Give Online</span></div>
      <div class="nav-icons social"> <div class="social-btn instagram-btn"><i class="fa fa-instagram" aria-hidden="true"></i></div></div>
      <div class="nav-icons social"><div class="social-btn facebook-btn"><i class="fa fa-facebook" aria-hidden="true"></i></div></div>
      <div class="nav-icons social"><div class="social-btn twitter-btn"><i class="fa fa-twitter" aria-hidden="true"></i></div></div>

      <div class="nav-icons search"><i class="material-icons">search</i></div>
      <div class="nav-icons menu"><i class="material-icons">sort</i></div>
    </div>
  </div>
  <div class="header-container sub-nav">
    <div class="nav-container">
      <div class="nav-item" ng-repeat="item in $ctrl.navigation"><a href="https://html5up.net/stellar" target="_blank">{{item}}</a></div>
    </div>
  </div>
</div>
