<div class="page-container explore">
    <!-- Home Banner -->
    <section class="banner">
        <div class="logo-container"><img src="images/icons/logo_full.png"></div>
        <div class="skyline-container"><img src="images/siteart/skyline.svg"></div>
    </section>

    <!-- Local Deals -->
    <section class="list-section local-deals">
        <h1 class="section-title">Local Deals</h1>
        <div class="horizon-list deals">
            <div class="horizon-container">
                <div class="list-container">
                    <div class="item" ng-repeat="deal in $ctrl.localDeals">
                        <div class="info-section">
                            <div class="text title">{{deal.title}}</div>
                            <div class="text buis">{{deal.business}}</div>
                            <div class="spacer"></div>
                            <div class="text price">${{deal.price}}</div>
                        </div>
                    </div>                
                </div>                
            </div>
            <div class="list-blur"></div>
        </div>
    </section>

    <!-- Local Crowns -->
    <section class="list-section local-crowns">
        <h1 class="section-title">Local Crown Businesses</h1>
        <div class="horizon-list deals">
            <div class="horizon-container">
                <div class="list-container">
                    <div class="item halos" ng-repeat="deal in $ctrl.localCrowns">
                        <div class="info-section">
                            <div class="text title">{{deal.title}}</div>
                        </div>
                    </div>
                </div>               
            </div>
            <div class="list-blur"></div>
        </div>
    </section>
</div>