@md-breakpoint-screen: ~"only screen and (max-width: 960px)";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  margin: 0;
  &:focus { outline: none;}
}
html, body {
  height: 100%;
}

.mainBody{
  //height: 100%;
}
