@import url('https://fonts.googleapis.com/css?family=Coming+Soon|Raleway');

.clinton2-home{
  /* Variables*/
  @amePurple: rgba(148,15,166,1);
  @amePurpleLite: rgba(148,15,166,0.3);

  @ameBlue: rgba(0,141,213,1);
  @ameBlueLite: rgba(0,141,213,0.3);

  @ameGreen: rgba(0, 254, 9, 1);
  font-size: 16px;

  font-family: 'Raleway', sans-serif;
  //font-family: 'Coming Soon', cursive;

  /*Main*/
  height: 100%;
  background: rgba(250,250,250,1);

  .header {

    .header-top{
      //background: rgba(255,255,255,0.2);
      height: 90px;
      width: 100%;
      overflow: hidden;
      position: fixed;
      z-index: 10;
      top:0;
      left: 0;
      color: rgba(255,255,255,1);
      .header-left {
        display: inline-block;
        padding: 0px 20px;
        img { width: 75px; display: inline-block;  vertical-align: baseline; }
        .header-text {
          display: inline-block;
          margin-left: 10px;
          .main-text{ font-weight: bold; font-size: 3rem;}
          .sub-text { font-size: 1.7rem; }
        }
      }
      .header-right {
        display: inline-block;
        text-align: right;
        float: right;
        height: 90px;
        padding: 0px 20px;
        .nav-icons {
          display: inline-block;
          height: 90px;
          &.live { }
          &.search { }
          &.menu { }

          i{ line-height: 20px; padding: 35px 0px; vertical-align: middle; }
          span { line-height: 20px; padding: 35px 0px; vertical-align: middle; }

          &+.nav-icons { margin-left: 20px; }
        }
        &:after { clear: both; }
      }
    }

    .header-content {
      height: 80vh;
      position: relative;
      .backimg {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        .cover { position: relative; z-index: 2; /*background-color: rgba(148,15,166,0.5);*/ width: 100%; height: 100%;}
        .cover-img{
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-size: cover;
          -webkit-filter: grayscale(40%);
          filter: grayscale(40%);
        }
      }
      .nav-links {
        position: absolute;
        top: 70%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        z-index: 2;
        text-align: center;
        .nav-button {
          display: inline-block;
          padding: 5px 10px;
          font-size: 2rem;
          text-transform: uppercase;
          .button-container {
            background: rgba(0,0,0,0.5);
            color:rgba(255,255,255,1);
            padding: 5px 20px;
            border-radius: 5px;
          }
          &.selected { .button-container { color: @amePurple; } }
        }
      }
    }
    .header-sub {
      height: 20vh;
      background: rgba(255,255,255,1);
      overflow: hidden;
      display: flex;
      position: relative;
      .nav-ctrl {
        position: absolute;
        top:0;
        z-index: 2;
        display: inline-block;
        overflow: hidden;
        background: rgba(255,255,255,0.2);
        color: rgba(0,0,0,1);
        height: 100%;
        width: 7%;
        i { font-size: 10rem; position: absolute; top: 50%; transform: translateY(-50%); width: 100%; }
        &.nav-left { left: 0;}
        &.nav-right { right: 0;}
      }
      .nav-cards {
        position: relative;
        z-index: 1;
        width: 100%;
        overflow: hidden;
        white-space:nowrap;
        font-family: 'Coming Soon', cursive;
        .nav-card {
          height: 100%;
          width: 25%;
          display: inline-block;
          position: relative;
          cursor: pointer;
          .card-back {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.5;
            transition: 0.5s all ease-in-out;
          }

          .card-title {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            text-align: center;
            width: 100%;
            color: rgba(0,0,0,1);
            font-size: 2.5rem;
            transition: 0.5s all ease-in-out;
          }
          &:hover { .card-back{ opacity: 0.7;} .card-title{ color:rgba(255,255,255,1); }}
        }
      }
    }
    &.flip {
      .header-top { background: rgba(255,255,255,0.2); color:rgba(0,0,0,1);  }
    }
  }

  .page-container {
    .home-section {
      padding: 20px;
      .section-title { text-align: center; font-size: bold; font-size: 4rem; }
      &.welcome {
        padding-top: 50px;
        .content-container {
          display: flex;
          .content-area {
            //display: inline-block;
            width: 50%;
            padding: 40px;
            img { width: 100%;}
            .content-title { font-weight: bold; text-align: center; font-size: 3rem;}
            .content-text { line-height: 4.5rem; }
          }
        }
      }
      &.events {
        background-color: @amePurpleLite;
        .events-container {
          display: flex;
          padding: 5px 50px;
          .event {
            width: 33.334%;
            padding: 10px;
            .event-card {
              padding: 10px;
              display: flex;
              background-color: rgba(255,255,255,1);
              border: 0 solid #e5e5e5;
              border-radius: 0;
              box-shadow: 0 2px 1px rgba(0,0,0,.06);
              .event-obj {
                .event-item {
                  display: block;
                  &.event-date { color: rgba(244, 89, 66,1); font-size: 3rem;}
                  &.event-month { color: rgba(244, 89, 66,1); }
                }
                &+.event-obj{ margin-left: 10px; padding-top: 10px;}
              }
            }
          }
        }

        .event-nav {
          text-align: center;
          padding: 10px;
          .event-item {
            background: rgba(255,255,255,1);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: inline-block;

            &.selected { background: rgba(0,0,0,1);}
            &+.event-item { margin-left: 20px;}
          }
        }
      }
      &.connected {
        background: url('../imgs/clinton/bgNEW.png');
        padding: 7px 20px 20px;
        .connected-container {
          padding: 10px;
          display: flex;
          flex-wrap: wrap;

          .connected-card-container {
            width: 49.5%;
            padding: 20px;
            .connected-card {
              border: 0 solid #e5e5e5;
              border-radius: 0;
              box-shadow: 0 2px 1px rgba(0,0,0,.06);
              display: flex;
              height: 100%;
              .card-side {
                width: 50%;
                height: 100%;

                .side-title { font-size: 2rem; text-align: center; font-weight: bold; }
                .side-content { }
                .back-img {
                  background-repeat: no-repeat;
                  background-size: cover;
                  opacity: 0.9;
                  height: 156px;
                }

                &.side-left { }
                &.side-right { padding: 20px; background-color: @amePurple; color:rgba(255,255,255,1); }
              }
            }
          }
        }
      }
    }

    /*Ministries Page*/

    .sub-container {
      padding-top: 80px;
      position: relative;
      .sub-header {
        background: linear-gradient(45deg,#726193 20%,#e37b7c 60%,#ffe4b4);
        color: rgba(255,255,255,1);
        margin-top: 20px;
        text-align: center;
        font-size: 3rem;
      }
      .back-text {
        position: fixed;
        padding: 200px 5rem 5rem 5rem;
        top:0;
        left: 0;
        width: 50%;
        height: 500px;
        .back-title { text-align: center; font-weight: bold; font-size: 4rem; }
        .back-content { line-height: 5rem; }
      }
    }
  }
}
