<div class="clinton1-home">
  <div class="page-container">
    <clt-header1></clt-header1>

    <div class="page-body">
      <!-- Home Hero -->
      <div class="body-section home-hero">
        <div class="backimg">
          <div class="hero-ctrl ctrl-left"><i class="material-icons">chevron_left</i></div>
          <div class="hero-ctrl ctrl-right"><i class="material-icons">chevron_right</i></div>

          <div class="cover">
            <div class="cover-text">
              <div class="text-title">Welcome To</div>
              <div class="text-content"><p>Clinton</p><p>A.M.E. Zion Church</p></div>
            </div>
          </div>
          <div class="cover-img" back-img={{$ctrl.mainImg}}></div>
        </div>
      </div>

      <!-- Watch Live -->
      <div class="body-section watch">
        <div class="section-container">
          <div class="section-area">
            <div class="sub-title2">Watch Live</div>
            <div class="section-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
          </div>
          <div class="section-area">
            <div class="css-object css-computer screen">
              <div class="content">
                <div class="pg">
                  <ul class="btns">
                    <li ng-repeat="i in $ctrl.getNumber(3) track by $index"></li>
                  </ul>
                  <ul class="txt">
                    <li ng-repeat="i in $ctrl.getNumber(2) track by $index"></li>
                    <li class="thin" ng-repeat="i in $ctrl.getNumber(3) track by $index"></li>
                  </ul>
                </div>
              </div>
              <div class="base">
                <div class="grey-shadow"></div>
                <div class="foot top"></div>
                <div class="foot bottom"></div>
                <div class="shadow"></div>
                <div class="keyboard">
                  <div class="btm"></div>
                  <ul class="keys">
                    <li ng-repeat="i in $ctrl.getNumber(4) track by $index"></li>
                  </ul>
                  <div class="shadow"></div>
                </div>
              </div>
            </div>

            <div class="css-object css-phone">
              <div class="screen">
                <div class="content">
                  <ul class="txt">
                    <li ng-repeat="i in $ctrl.getNumber(3) track by $index"></li>
                  </ul>
                </div>
              </div>

              <div class="shadow"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Ministries -->
      <div class="body-section ministries">
        <div class="section-full-header">Minisitries</div>
        <div class="scroll-sub">
          <div class="nav-ctrl nav-left"><i class="material-icons">chevron_left</i></div>
          <div class="nav-ctrl nav-right"><i class="material-icons">chevron_right</i></div>
          <div class="nav-cards">
            <div class="nav-card" ng-repeat="card in $ctrl.ministries" ui-sref="app.clinton2.ministries">
              <div class="card-back" back-img={{card.image}}></div>
              <div class="card-title">{{card.title}}</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Welcome From Pastor -->
      <div class="body-section welcome" back-img={{$ctrl.welcomeBack}}>
        <div class="welcome-text">
          <div class="welcome-title">Welcome From Our Pastor</div>
          <div class="welcome-content">Our vision is to affect a completely transformed community of faith, worthy of citizenship in the Kingdom of God, by the power of God through His Son Jesus Christ. Our mission is to produce ministries that will serve the CAUSE of Christ through the spiritual transformation of minds, bodies and spirits.</div>
        </div>
        <div class="welcome-img"><img ng-src="{{$ctrl.welcomeImg}}"></div>
      </div>
      <!-- spacer -->
      <div class="body-section para-spacer">
        <div class="cover"></div>
        <div class="back-img" back-img={{$ctrl.spacerImage}}></div>
      </div>

      <!-- Events -->
      <div class="body-section events">
        <div class="section-container">
          <div class="section-title">Upcoming Events</div>
          <div class="events-container">
            <div class="event" ng-repeat="event in $ctrl.upcomingEvents">
              <div class="event-card">
                <div class="event-obj event-left">
                  <div class="event-item event-date">{{event.date | date: 'dd' }}</div>
                  <div class="event-item event-month">{{event.date | date: 'MMM'}}</div>
                </div>
                <div class="event-obj event-right">
                  <div class="event-item event-title">{{event.title}}</div>
                  <div class="event-item event-time">{{event.date | date: 'hh:mm a'}}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="event-nav">
            <div class="event-item"></div>
            <div class="event-item selected"></div>
            <div class="event-item"></div>
            <div class="event-item"></div>
          </div>
        </div>
      </div>

    </div>

    <!-- Footer -->
    <div class="c1-Footer">
      <div class="footer-container">
        <div class="footer-row ame-logo"><img src="imgs/clinton/ame_zion_logo.png" /></div>
        <div class="footer-row address-text">
          <div class="add-info">223 Elizabeth Avenue</div>
          <div class="add-info">Rockville, MD 20850</div>
        </div>
        <div class="footer-row footer-btn-container">
          <div class="footer-btn">
            <div class="btn-container"><i class="material-icons">contact_mail</i><span>Contact Us</span></div>
            <div class="btn-container"><i class="material-icons">blur_circular</i><span>Prayer Requests</span></div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
