<div class="clinton2-home">
  <!-- Header -->
  <clt-header2></clt-header2>

  <!-- Body -->
  <div class="page-container">
    <!-- Welcome section -->
    <div class="home-section welcome">
      <div class="content-container">
        <div class="content-area"><img ng-src="{{$ctrl.churchGallery[0]}}" /></div>
        <div class="content-area">
          <div class="content-title">Welcome to Clinton</div>
          <div class="content-text">{{$ctrl.churchInfo.welcome}}</div>
        </div>
      </div>
    </div>
    <!-- Events section -->
    <div class="home-section events">
      <div class="section-title">Upcoming Events</div>
      <div class="events-container">
        <div class="event" ng-repeat="event in $ctrl.upcomingEvents">
          <div class="event-card">
            <div class="event-obj event-left">
              <div class="event-item event-date">{{event.date | date: 'dd' }}</div>
              <div class="event-item event-month">{{event.date | date: 'MMM'}}</div>
            </div>
            <div class="event-obj event-right">
              <div class="event-item event-title">{{event.title}}</div>
              <div class="event-item event-time">{{event.date | date: 'hh:mm a'}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="event-nav">
        <div class="event-item"></div>
        <div class="event-item selected"></div>
        <div class="event-item"></div>
        <div class="event-item"></div>
      </div>
    </div>
    <!-- Connected section -->
    <div class="home-section connected">
      <div class="section-title">Get Connected</div>
      <div class="connected-container">
        <div class="connected-card-container" ng-repeat="card in $ctrl.connectedCards">
          <div class="connected-card" >
            <div class="card-side side-left"><div class="back-img" back-img={{card.img}}></div></div>
            <div class="card-side side-right">
              <div class="side-title">{{card.title}}</div>
              <div class="side-content">{{card.content}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <!--<div class="c2-Footer">
    <div class="footer-container">
      <div class="footer-row split-row">
        <div class="row-split row-left">
          <div class="footer-row ame-logo"><img src="imgs/clinton/ame_zion_logo.png" /></div>
          <div class="footer-row address-text">
            <div class="add-info">223 Elizabeth Avenue</div>
            <div class="add-info">Rockville, MD 20850</div>
          </div>
        </div>
        <div class="row-split row-right">
          <div class="footer-row address-items" ng-repeat="item in $ctrl.churchHierarchy">
            <div class="add-name">{{item.name}}</div>
            <div class="add-title">{{item.title}}</div>
          </div>
        </div>
      </div>
      <div class="footer-row footer-btn-container">
        <div class="footer-btn">
          <div class="btn-container"><i class="material-icons">contact_mail</i><span>Contact Us</span></div>
          <div class="btn-container"><i class="material-icons">blur_circular</i><span>Prayer Requests</span></div>
        </div>
      </div>
    </div>
  </div>-->

</div>
