<div class="clinton2-home">
  <!-- Header -->
  <div class="header flip">
    <div class="header-top">
      <div class="header-left">
        <img src="imgs/clinton/ame_zion_logo.png" />
        <div class="header-text">
          <div class="main-text">Clinton</div>
          <div class="sub-text">A.M.E. Zion Church</div>
        </div>
      </div>

      <div class="header-right">
        <div class="nav-icons live"><i class="material-icons">play_circle_outline</i> <span>Watch Live</span></div>
        <div class="nav-icons search"><i class="material-icons">search</i></div>
        <div class="nav-icons menu"><i class="material-icons">menu</i></div>
      </div>
    </div>
  </div>

  <!-- Body -->
  <div class="page-container">
    <div class="sub-container card-effect">
      <div class="sub-header">Ministries</div>
      <div class="back-text">
        <div class="back-title">Children/ Youth Ministries</div>
        <div class="back-content">Varick International Christian Youth Council: Membership –Ages 12-22 Co-Directors of Youth: Mrs. Cristina Palmer Moore & Dr. Rhoma Johnson Assistant Directors of Youth: Mrs. Shirley Alexis & Mr. Robert Moore Mission: To foster the spiritual growth and development of our youth by working collaboratively with all adults in the church so that the joy of…</div>
      </div>
      <div id="page-wrapper">
        <div id="wrapper">
          <!-- Panel (Banner) -->
  				<section class="panel banner right">
  					<div class="content color0 span-3-75">
  						<h1 class="major">Children/ Youth Ministries</h1>
  						<p>
                Varick International Christian Youth Council: Membership Ages 12-22
                <br>Co-Directors of Youth: Mrs. Cristina Palmer Moore & Dr. Rhoma Johnson
                <br>Assistant Directors of Youth: Mrs. Shirley Alexis & Mr. Robert Moore
              </p>
  						<ul class="actions">
  							<li><a href="#first" class="button special color1 circle icon fa-angle-right">Next</a></li>
  						</ul>
  					</div>
  					<div class="image filtered span-1-75" data-position="25% 25%">
  						<img src="imgs/clinton/card/youth1.jpg" alt="" />
  					</div>
  				</section>
          <!-- Panel (Spotlight) -->
  				<section class="panel spotlight medium right" id="first">
  					<div class="content span-7">
  						<h2 class="major">About Us</h2>
              <p>Mission: To foster the spiritual growth and development of our youth by working collaboratively with all adults in the church so that the joy of learning about Christ is a reward and the programs only serve as a benchmark of opportunities.</p>
  					</div>
  					<div class="image filtered tinted" data-position="top left">
  						<img src="imgs/clinton/card/pic02.jpg" alt="" />
  					</div>
  				</section>

          <!-- Panel -->
  				<section class="panel color1">
  					<div class="intro joined">
  						<h2 class="major">Amet lorem</h2>
  						<p>Sed vel nibh libero. Mauris et lorem pharetra massa lorem turpis congue pulvinar. Vivamus sed feugiat finibus. Duis amet bibendum amet sed. Duis mauris ex, dapibus sed ligula tempus volutpat magna etiam.</p>
  					</div>
  					<div class="inner">
  						<ul class="grid-icons three connected">
  							<li><span class="icon fa-diamond"><span class="label">Lorem</span></span></li>
  							<li><span class="icon fa-camera-retro"><span class="label">Ipsum</span></span></li>
  							<li><span class="icon fa-cog"><span class="label">Dolor</span></span></li>
  							<li><span class="icon fa-paper-plane"><span class="label">Sit</span></span></li>
  							<li><span class="icon fa-bar-chart"><span class="label">Amet</span></span></li>
  							<li><span class="icon fa-code"><span class="label">Nullam</span></span></li>
  						</ul>
  					</div>
  				</section>

  				<!-- Panel (Spotlight) -->
  				<section class="panel spotlight large left">
  					<div class="content span-5">
  						<h2 class="major">Magna amet tempus</h2>
  						<p>Mauris a cursus velit. Nunc lacinia sollicitudin egestas bibendum, magna dui bibendum ex, sagittis commodo enim risus sed magna nulla. Vestibulum ut consequat velit. Curabitur vitae libero lorem. Quisque iaculis porttitor blandit. Nullam quis sagittis maximus. Sed vel nibh libero. Mauris et lorem pharetra massa lorem turpis congue pulvinar.</p>
  					</div>
  					<div class="image filtered tinted" data-position="top right">
  						<img src="imgs/clinton/card/pic03.jpg" alt="" />
  					</div>
  				</section>

  				<!-- Panel -->
  				<section class="panel">
  					<div class="intro color2">
  						<h2 class="major">Elit integer</h2>
  						<p>Sed vel nibh libero. Mauris et lorem pharetra massa lorem turpis congue pulvinar. Vivamus sed feugiat finibus. Duis amet bibendum amet sed. Duis mauris ex, dapibus sed ligula tempus volutpat magna etiam.</p>
  					</div>
  					<div class="gallery">
  						<div class="group span-3">
  							<a href="" class="image filtered span-3" data-position="bottom"><img src="imgs/clinton/card/youth1.jpg" alt="" /></a>
  							<a href="" class="image filtered span-1-5" data-position="center"><img src="imgs/clinton/card/youth2.jpg" alt="" /></a>
  							<a href="" class="image filtered span-1-5" data-position="bottom"><img src="imgs/clinton/card/youth3.jpg" alt="" /></a>
  						</div>
  						<a href="" class="image filtered span-2-5" data-position="top"><img src="imgs/clinton/card/youth4.jpg" alt="" /></a>
  						<div class="group span-4-5">
  							<a href="" class="image filtered span-3" data-position="top"><img src="imgs/clinton/card/youth5.jpg" alt="" /></a>
  							<a href="" class="image filtered span-1-5" data-position="center"><img src="imgs/clinton/card/youth6.jpg" alt="" /></a>
  							<a href="" class="image filtered span-1-5" data-position="bottom"><img src="imgs/clinton/card/youth1.jpg" alt="" /></a>
  							<a href="" class="image filtered span-3" data-position="top"><img src="imgs/clinton/card/youth2.jpg" alt="" /></a>
  						</div>
  						<a href="imgs/clinton/card/fulls/09.jpg" class="image filtered span-2-5" data-position="right"><img src="imgs/clinton/card/youth1.jpg" alt="" /></a>
  					</div>
  				</section>

        </div>
      </div>
    </div>
  </div>
</div>
