<div class="crown-container">
    <!-- Search Bar -->
    
    <!-- Tab Section -->
    <div class="tab-container">
        <md-content class="main-content">
            <md-tabs class="crown-tabs t1" md-selected="$ctrl.data.selectedIndex" md-align-tabs="bottom" md-swipe-content>
                <!-- Community Section -->
                <md-tab id="t1">
                    <md-tab-label>
                        <div class="label-icon"><i class="fas fa-users"></i></div>
                        <div class="label-txt">Community</div>
                    </md-tab-label>
                    <md-tab-body>
                        <h1>Community Page</h1>            
                    </md-tab-body>
                </md-tab>
                <!-- Map Section -->
                <md-tab id="t2">
                    <md-tab-label>
                        <div class="label-icon"><i class="fas fa-map"></i></div>
                        <div class="label-txt">Map</div>
                    </md-tab-label>
                    <md-tab-body>
                        <h1>Map Page</h1>            
                    </md-tab-body>
                </md-tab>
                <!-- Explore Section -->
                <md-tab id="t3">
                    <md-tab-label>
                        <div class="label-icon"><img src="images/icons/logo_c.png"></div>
                        <div class="label-txt">Explore</div>
                    </md-tab-label>
                    <md-tab-body>
                        <explore></explore>       
                    </md-tab-body>
                </md-tab>
                <!-- Market Section -->
                <md-tab id="t4">
                    <md-tab-label>
                        <div class="label-icon"><i class="fas fa-shopping-bag"></i></div>
                        <div class="label-txt">Market</div>
                    </md-tab-label>
                    <md-tab-body>
                        <h1>Market Page</h1>            
                    </md-tab-body>
                </md-tab>
                <!-- My Account Section -->
                <md-tab id="t5">
                    <md-tab-label>
                        <div class="label-icon"><i class="fas fa-user"></i></div>
                        <div class="label-txt">My Account</div>
                    </md-tab-label>
                    <md-tab-body>
                        <h1>My Account Page</h1>            
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>